html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

#fpsLabel {
	position: absolute;
	top: 70px;
	left: 30px;
	cursor: default;
}

.label {
	display:inline-block;
	padding:2px 4px;
	font-size:11.844px;
	font-weight:bold;
	line-height:14px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	position:relative;
	top:-1px;
}

.navbar-inverse {
	background-color: #000;
	border-color: #1F1F1F;
}

.navbar-right {
	margin-right: 5px;
	margin-top: -1px;
}
