html, body {
  font-family: Arial;
  font-weight: 8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
#fileinput{
  float: left;
  z-index: 1;
}
